@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&display=swap');
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --paragraph-m-regular: Inter;

  /* font sizes */
  --paragraph-m-regular-size: 16px;
  --font-size-5xl: 24px;
  --paragraph-s-regular-size: 14px;
  --paragraph-l-regular-size: 18px;
  --h4-semi-bold-size: 36px;
  --subtitle-semi-bold-size: 20px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --neutral-gray-700: #344051;
  --primary-50: #f0f6ff;
  --color-royalblue-100: #1a75ff;
  --primary-700: #0052cc;
  --neutral-gray-500: #637083;
  --color-darkslateblue: #002966;
  --color-lightgray: #ced2da;
  --color-gray: #141c24;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-7xs: 6px;
  --gap-xs: 12px;
  --gap-45xl: 64px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-45xl: 64px;
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-61xl: 80px;
  --padding-13xl: 32px;
  --padding-base: 16px;
  --padding-11xs: 2px;
  --padding-26xl: 45px;
  --padding-31xl: 50px;
  --padding-lg: 18px;
  --padding-11xl: 30px;

  /* border radiuses */
  --br-13xl: 32px;
  --br-5xs: 8px;
  --br-xl: 20px;
  --br-131xl: 150px;
  --br-3xs: 10px;
}
